{% extends 'basic.html' %}
{% block body %}
{%load static%}

<section class="text-gray-600 body-font custom-hero pl-12">
    <div class="container flex px-5 py-12 md:flex-row flex-col items-center">
        <div
            class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-12 font-black text-green-400">Start where you are <br
                    class="hidden lg:inline-block"> with what you eat. <br class="hidden lg:inline-block">
                Use what you have and <br class="hidden lg:inline-block"> Do what you can to take control <br
                    class="hidden lg:inline-block"> of your Lifestyle and Health <br class="hidden lg:inline-block">
                with our Diet Planner.
            </h1>
            <div class="flex justify-center">
                <a href="/dietplanner"
                    class="inline-flex text-white bg-green-400 border-0 py-2 px-6 focus:outline-none hover:bg-green-400 rounded text-lg">Plan
                    Diet</a>
                <a href="/bodymass"
                    class="ml-4 inline-flex text-green-400 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Body
                    Fat Calculator</a>
            </div>
        </div>
        {% comment %} <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded" alt="hero" src="static/images/homebanner.jpg">
        </div> {% endcomment %}
    </div>
</section>


<section class="bg-green-400 introduction">
    <h3>Introduction</h3>
    <img src="./static/images/Diet_image.jpg" alt="" class="introduction-img">
    <p>
        Nutrition is the process of utilising food for growth, metabolism and repair of tissues. The relationship between diet and nutrition and health is 2-way; health status can be affected by nutrient deficiency and vice versa.
        The definition of what constitutes a healthy diet continually shifts to reflect the evolving understanding of the roles that different foods, essential nutrients, and other food components play in health and disease. 
        A large and growing body of evidence supports that intake of certain types of nutrients, specific food groups, or overarching dietary patterns positively influences health and promotes the prevention of common non-communicable diseases (NCDs). 
        Greater consumption of health-promoting foods and limited intake of unhealthier options are intrinsic to the eating habits of certain regional diets such as the Mediterranean diet or have been constructed as part of dietary patterns designed to reduce disease risk, 
        such as the Dietary Approaches to Stop Hypertension (DASH) or Mediterranean-DASH Intervention for Neurodegenerative Delay (MIND) diets. In comparison with a more traditional Western diet, these healthier alternatives are higher in plant-based foods, including fresh fruits and vegetables, whole grains, legumes, seeds, and nuts and lower in animal-based foods, particularly fatty and processed meats.
        Edi-Xpert will help track the current status of Health and to better plan the user's Diet to make better food choices for a better and healthier lifestyle. This system takes into account various factors and supporting clinical and epidemiologic data for Diet Recommendations that have been proven to prevent disease and/or positively influence health.
    </p>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Tools For your Diet</h1>
                <div class="h-1 w-20 bg-green-400 rounded"></div>
            </div>

        </div>
        <div class="flex flex-wrap m-4">
            <a class="xl:w-1/2 md:w-1/2 p-4 cards" href="/bodymass">
                <div class="bg-gray-100 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="{% static 'images/bodymass.jpg' %}" alt="content">
                    <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">Calculator</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Body Fat Percentage Calculator</h2>
                    <p class="leading-relaxed text-base">Body fat percentage is a key indicator of good health. A high body fat percentage may put at a higher risk of Lifestyle.Bodyfat Percentage can be calculated with skinfold measurements. Enter your height, weight, Gender and Age using standard measures.</p>
                </div>
            </a>
            <a class="xl:w-1/2 md:w-1/2 p-4 cards" href="/dietplanner">
                <div class="bg-gray-100 p-6 rounded-lg">
                    <img class="h-40 rounded w-full object-cover object-center mb-6"
                        src="{% static 'images/planner.jpg' %}" alt="content">
                    <h3 class="tracking-widest text-green-400 text-xs font-medium title-font">Planner</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Meal Plan</h2>
                    <p class="leading-relaxed text-base">Meal planning involves the act of sorting out or planning out portions of meals for the entire week or month. Fuel your life by eating what you like and what's both sustainable and healthy for you</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Bootstrap-->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })
</script>
 -->



{%endblock%}